 .sub_nav {
     height: 60px;
     border-bottom: 1px solid #585858;
     line-height: 58px;
 }


 .f14pd20 {
     font-size: 12px;
     line-height: 25px;
     padding: 20px;
     background-color: #d3d3d3;
     color: #2c2e2d;

     min-height: 300px;
 }

 .big_title {
     font-size: 13px;
       color: #565656;
     
     padding-bottom: 5px
 }

 .s_text {
     font-weight: bold;
     font-size: 14px;
      color: #333;
   
    
 }


 #sub-nav {
     position: relative;
 }

 .sub_nav ul {}

 .sub_nav ul li {
     display: inline-block;
     margin-right: 20px;
 }


 .sub_nav ul li a {
     display: block;
     font-size: 14px;
     color: #fff;
     opacity: 0.8;
     line-height: 53px;
 }

 #wrap {
     margin-bottom: 53px;
 }


 #banner-box {
     margin: 0px auto;
     height: 480px;
     overflow: hidden;
     position: relative;
     padding-top: -40px;
 }

 .banner-list {
     height: 480px;
 }

 .banner-list li {
     height: 480px;
 }


 .sub_nav ul {
     width: 137px;
     margin: auto;
 }


 .sub_nav {
     background: #424242
 }

 .sub_nav li:last-child {
     margin-right: 0px;
 }

 .text_other {
     width: 100%;
 }

 .about_bg {
     background: url(../images/about1.jpg)fixed;
     width: 100%;

     height: 430px;
 }

 .about_0 {

     width: 100%;
 }

 .pd0 {
     padding-right: 0px;
     padding-left: 0px;
 }


 .bg1 {
     height: auto!important;
     min-height: 390px;
 }


 .bg_gary {
     height: auto!important;
     min-height: 200px;
     background: #d3d3d3;
 }




 @media screen and (max-width: 576px) {
     .slides_control li {
         background: url(banner/img/1.jpg);
         /* width: 385px!important; */
         background-position: 650px 0px!important;
         background-size: cover!important;
         background-attachment: initial!important;
     }
 }


 @media screen and (max-width: 768px) {

    .col-25{
        width: 50%
    }
    .col-25:first-child {
        width: 100%
    }
 }